@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section#about{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #0D0D0D;
    padding: 20px;
    color: #FFFFFF;
}
section#about h2{
    display: flex;
    justify-content: flex-start;
    background-color: #6F23D9;
    font-size: 40pt;
    text-shadow: 1px 1px 1px #0D0D0D;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
section#about h1{
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40pt;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #0D0D0D;   
}
.title{
    background-color: #6F23D9;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 5px;
}
section#about p{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 10%;
    text-align: justify;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30pt;
}
section#about img{
    max-width: 300px;
    margin-left: 10%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
table#hs-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    font-size: 15pt;
    text-shadow: 1px 1px 1px #0D0D0D;
    text-align: center;
    width: 100%;
    margin-right: 10%;
}
table#hs-table caption{
    font-size: 40pt;
    font-family: 'Bebas Neue', sans-serif;
}
table#hs-table td{
    border: 2px solid #2E27F2;
    font-size: 30pt;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    background-color: #6F23D9;
}
table#ss-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    text-shadow: 1px 1px 1px #0D0D0D;
    text-align: center;
    margin-right: 10%;
    margin-top: 1%;
    width: 100%;
}
table#ss-table caption{
    font-size: 40pt;
    font-family: 'Bebas Neue', sans-serif;
}
table#ss-table td{
    background-color: #6F23D9;
    border: 2px solid #2E27F2;
    font-size: 30pt;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
}
.tables{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 10%;
}