@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width:100%;
}  
/*Navegation Menu*/ 
nav#menu{
    display:block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px#000000;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    padding-left: 30%;
    background: #0D0D0D;
    border-bottom: 2px solid #000000;
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
}
nav#menu li:hover{
    background-color: #F2138E;
}
nav#menu a{
    color: #ffffff;
    text-shadow: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    color:#2E27F2;
}
/*Section Main*/
section#main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    width: auto;
    padding: 15px;
    border: 2px solid #000000;
    background-color: #F2138E;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
}
.text{
    padding: 20px;
    text-align: left;
}
.photo img{
    width: 300px;
    height: auto;
}

section#main h1{
    color:#2E27F2;
    font-size: 50pt;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
section#main h2{
    color: #FFFFFF;
    text-shadow: 2px 1px 1px #000000;
    font-size: 20pt;
    font-family: "Bebas Neue" sans-serif;
    margin: 0;
}
section#main h3{
    color: #FFFFFF;
    text-shadow: 2px 1px 1px #000000;
    margin: 0;
    font-size: 30pt;
}
div#home{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,#F2138E,#961BA6);
}

@media (min-width: 768px) {
    main{
        flex-direction: row;
    }
    .photo{
        flex:1;
    }
    .text{
        flex:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.5em;
    }
}
section#about{
    margin-bottom: 800px;
}
section#portfolio{
    margin-bottom: 800px;
}

